body {
  background: linear-gradient(#448f49, #c0c0c0);
  color: blue;
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

h1 {
  color: coral;
}

.container {
  display: flex;
  flex-direction: column;
}

.board {
  position: relative;
}

.board-2 {
  display: flex;
  flex-wrap: wrap;
  max-width: 60px;
}

.board-3 {
  display: flex;
  flex-wrap: wrap;
  max-width: 90px;
}

.board-10 {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
}

.board-15 {
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
}

.board-20 {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
}
/*  cell  */

.cell {
  min-width: 30px;
  min-height: 30px;
  border: 1px solid #000;
  box-sizing: border-box;
  background-color: #fff;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.winner-message {
  position: absolute;
  top: 33%;
  left: 33%;
  width: 100px;
  height: 80px;
  background-color: coral;
  color: #fff;
}
