body {
  background-image: url('https://i.pinimg.com/originals/e2/30/f5/e230f59a5922574a0731061323b3a41d.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 0;
  margin: 0;
}

/* Welcome component*/

h1 {
  color: #1e547b;
  text-align: center;
  justify-content: center;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 5em;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.rules-container {
  display: flex;
  color: #13010b;
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Gloria Hallelujah', cursive;
}

.rules-header {
  width: 50%;
  padding-left: 3%;
  padding-right: 2%;
}

.rules-h2 {
  margin-bottom: 0;
  color: #13010b
}

div img {
  opacity: 0.8;
  width: 400px;
  margin-bottom: 0;
}

.rules-paragraph {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.4em;
  text-shadow: 2px 2px #eff30b;
}

@keyframes slidein {
  from {
    margin-left: -30%;
    width: 100%;
  }
  50% {
    font-size: 150%;
    margin-left: -20%;
    width: 150%;
    animation-play-state: paused;
  }

  to {
    margin-left: -30%;
    width: 100%;
  }
}
.userform-container {

}

/* UserForm component*/

.form-name {
  margin-right: 0.5em;
}

.user-name-input {
  width: 360px;
	color: #1e547b;
	font: inherit;
	border: 0;
	outline: 0;
	padding: 22px 18px;
  border-radius: 15px;
  opacity: 0.5;
  margin-bottom: 2em;
}

.level {
  display: flex;
  margin-bottom: 2em;
}

.level-header {
  margin-right: 0.5em;
}

.size {
  display: flex;
  margin-bottom: 2em;
}

.size-header {
  margin-right: 1em;
}

.select-container {
  width: 13.4em;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 396px;
}

.level-button {
  width: 120px;
  height: 45px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: 0px 0px 133px 0px rgba(17,94,176,0.68);
  -moz-box-shadow: 0px 0px 133px 0px rgba(17,94,176,0.68);
  box-shadow: 0px 0px 133px 0px rgba(17,94,176,0.68);
}

.level-button:hover {
  background-color: #1e547b;
  color: #fff;
  transform: translateY(7px);
}

.pushed-button {
  background-color: #1e547b;
  color: #fff;
  transform: translateY(7px);
}
/* button-start */

.start-button {
  margin-left: 8em;
  width: 210px;
  height: 60px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bold;
  color: #fff;
  background-color: #1e547b;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: 0px 0px 133px 0px rgba(17,94,176,0.68);
  -moz-box-shadow: 0px 0px 133px 0px rgba(17,94,176,0.68);
  box-shadow: 0px 0px 133px 0px rgba(17,94,176,0.68);
}

.start-button:hover {
  background-color: #1e547b;
  color: #fff;
  transform: translateY(7px);
}

.start-button-disabled {
  background-color: #1e547b;
  color: #fff;
  opacity: 0.7;
  transform: translateY(7px);
}

/* Gameboard */

.container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 2em;
  margin-top: 0.9em;
  align-items: center;
}

.name-container {
  align-self: flex-start;
  flex-wrap: wrap;
  overflow-wrap: wrap;
  overflow: auto;
  margin-top: -0.83em;
  margin-left: -0.83em;
  /* margin-right: -20px; */
  padding-left: 0;
  width: 20%;
}

.player-name {
  overflow-wrap: wrap;
}

.board {
  position: relative;
  justify-content: center;
  margin-bottom: 2em;
  width: 45%;
}

.board-10 {
  display: flex;
  flex-wrap: wrap;
  max-width: 308px;
  padding: 18px;
  background-color: #1e547b;
  -webkit-box-shadow: 0px 0px 39px 0px rgba(0,0,0,0.66);
  -moz-box-shadow: 0px 0px 39px 0px rgba(0,0,0,0.66);
  box-shadow: 0px 0px 39px 0px rgba(0,0,0,0.66);
}

.board-15 {
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
  padding: 20px;
  background-color: #1e547b;
  -webkit-box-shadow: 0px 0px 39px 0px rgba(0,0,0,0.66);
  -moz-box-shadow: 0px 0px 39px 0px rgba(0,0,0,0.66);
  box-shadow: 0px 0px 39px 0px rgba(0,0,0,0.66);
}

.board-20 {
  display: flex;
  flex-wrap: wrap;
  max-width: 610px;
  padding: 20px;
  background-color: #1e547b;
  -webkit-box-shadow: 0px 0px 39px 0px rgba(0,0,0,0.66);
  -moz-box-shadow: 0px 0px 39px 0px rgba(0,0,0,0.66);
  box-shadow: 0px 0px 39px 0px rgba(0,0,0,0.66);
}

.buttons-group {
  align-self: flex-start;
}

.board-button {
  width: 210px;
  height: 60px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bold;
  color: #fff;
  background-color: #1e547b;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: 0px 0px 133px 0px rgba(17,94,176,0.68);
  -moz-box-shadow: 0px 0px 133px 0px rgba(17,94,176,0.68);
  box-shadow: 0px 0px 133px 0px rgba(17,94,176,0.68);
}

.board-button:hover {
  background-color: #1e547b;
  color: #fff;
  transform: translateY(7px);
}

/*  cell  */

.cell {
  min-width: 30px;
  min-height: 30px;
  border: 1px solid #fff;
  box-sizing: border-box;
  background-image: url('http://www.thecarpentersshopinc.com/Images/Wood-Species/White-Birch-Wood.png');
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.cross {
  background-image: url('http://toastmasters.ru/wp-content/uploads/2016/04/Tic-tac-toe-cross.png'), url('http://www.thecarpentersshopinc.com/Images/Wood-Species/White-Birch-Wood.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
  background-size: contain, cover;
}

/* http://toastmasters.ru/wp-content/uploads/2016/04/Tic-tac-toe-nought-e1461667111145.png */

.nought {
  background-image: url('Tic-tac-toe-nought_blue.png'), url('http://www.thecarpentersshopinc.com/Images/Wood-Species/White-Birch-Wood.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
  background-size: contain, cover;
}

.winner-message {
  position: absolute;
  background-repeat: no-repeat;
  font-size: 2.4em;
  color: red;
  z-index: 10;
  -webkit-animation-name: slidein;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: 3;
  animation-name: slidein;
  animation-duration: 4s;
  animation-iteration-count: 3;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {left:0px; top:0px;}
  25%  {left:200px; top:200px;}
  50%  {left:400px; top:400px;}
  75%  {left:600px; top:600px;}
  100% {left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {left:0px; top:0px;}
  25%  {left:200px; top:200px;}
  50%  {left:400px; top:400px;}
  75%  {left:600px; top:600px;}
  100% {left:0px; top:0px;}
}
